
           
body {
    background: url('images/symbols-background.jpg') no-repeat center center fixed;
    background-size: cover;
    font-family: Arial, sans-serif;
    color: white;
}


header {
    background-color: rgb(23, 63, 222); 
    padding: 20px;
}

header h1 {
    color: #206e9f; 
}

header nav ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
}

header nav ul li {
    display: inline;
    margin-right: 20px;
}

header nav ul li a {
    color: rgb(14, 159, 181);
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
}

header nav ul li a:hover {
    text-decoration: underline;
}


main {
    background-color: rgb(50, 135, 203); 
    margin: 20px;
    padding: 20px;
    border-radius: 8px;
}

section h2 {
    color: #091f39; 
}

figure {
    margin: 20px 0;
}

figure img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}

figcaption {
    color: #110742;
    text-align: center;
    font-weight: bold;
}

footer {
    background-color: rgb(50, 135, 203);
    padding: 10px;
    text-align: center;
    color: rgb(255, 255, 255);
}


footer a {
    color: #071b4c;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}
